@media all and (max-width: 1024px) {
    section {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
}

@media all and (max-width: 768px) {
    ul {
        margin-left: 25px;
    }
}

@media all and (max-width: 480px) {
    ul {
        margin-left: 0;
    }
    ul>li,
    section p,
    #buy {
        width: 70px;
    }
}